/*Header*/
.cabecera {
    width: 100%;
    float: left;
}
.menunavegador li a{
    text-decoration: none;
    text-align: center ;
    color: black;
    font-family: Arial;
}

.menunavegador li{
    display: block;
    list-style: none;
    border: 1px solid black;
    width: 150px;
    float: left;
}
/*Section*/
.indexcontenido {
    width: 70%;
    float: left;
}
.imgcontenido {
    width: 30%;
    float: left;
    position: relative;
}
.imgcontenido1 {
    width: 30%;
    float: left;
    margin-left: 935px;
}
.seccion {
    width: 100%;
    float: left;
}
.piepagina{
    float: left;
    position: 10px;
}
.indexabout{
    width: 60%;
    float: left;
}
.imgabout{
    width: 40%;
    float: left;
}
.menuproducto li{
    color: ppp;
    margin-left: 30px ;
    padding: 5  px;
}
.menuproducto li a{
    text-decoration: none;
}
.contactoib{
    margin-left: 200px;
    border-width: 1px;
    color: black;
    border-style: solid;
}